h1 {
  color: blue;
  background-color: yellow;
  border: 5px solid black;
}

i {
	color: red;
}

b {
	color: blue;
}

p {
  color: #e1371e;
  background-color: #20cadf;
}

p#introducao  {
	color: black;
	background-color: yellow;
}

h1#bloco  {
	color: black;
	background-color: #efefef;
}

.bloco {
	border: 1px solid #665544;
	background-color: #efefef;
	padding: 10px;
}